@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.blur-background {
    filter: blur(30px);
    pointer-events: none; 
    }

  #adminLoginModal .modal-dialog {
    /* display: flex;
    align-items: center; */
    width: 80%; 
    max-width: 500px; 
    padding-top: 200px;
    margin-left: 100px;
    /* padding-left: 100px; */
  }
  #adminLoginModal .modal-content {
    width: 100%; 
    max-width: 600px;
    margin: auto; 
    padding: 20px; 
    font-size: 15px;
    background-color: rgba(234, 238, 241, 0.354);
  }
  .btn-admin {
    background-color: #2f631799;
    color: aliceblue;
  }
  #adminLoginModal{
    background-image: url(../images/admin-login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .modal-title{
    font-size: 27px;
    font-weight: bold;
  }