@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Styling */
.residential-body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    background-image: url(../images/listings_bg1.jpg);
    background-size: 100% 100%;
}

.container {
    overflow: hidden; 
    margin: 20px auto; 
}
.sidebar {
    width: 15%; 
    float: left; 
    background-color: #102109ef; 
    padding: 160px 10px; 
    /* border-right: 1px solid #dee2e6;  */
    color: white;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0; 
}

.sidebar nav ul li {
    margin-bottom: 15px;
}


.sidebar nav ul li a.active {
    background-color:#66934ac7; 
    color: #66934ac7; 
    border-left: 3px solid #28a745; 
    padding-left: 12px; 
}

.sidebar nav ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid #dee2e689;
    display: flex; 
    align-items: center; 
}

/* .sidebar nav ul li i {
    margin-right: 10px;
    margin-left: 10px;
    color: #961a1a; 
} */

.sidebar nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e6ebef9d; 
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s; 
}

.sidebar nav ul li:hover {
    background-color:#d3e0bc53; 
    border-radius: 5px;
    
}

.sidebar nav ul li.active a {
    background-color: #66934ac7; 
    color:#66934ac7; 
}


.sidebar nav ul li.active::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color:#66934ac7;
    border-radius: 50%;
    transform: translateY(-50%);
}


.forms {
    width: calc(80% - 40px); 
    float: left; 
    padding: 20px; 
    margin-bottom: 30px; 
    height: calc(100vh - 20px); 
    
}
#PropertyDetailsform,
#RentalDetailsform,
#LocalityDetailsform,
#Gallery,
#Amenities {
    width: auto; 
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: inline-block; 
    vertical-align: top; 
}


#PropertyDetailsform .input-group,
#RentalDetailsform .input-group,
#LocalityDetailsform .input-group,
#Gallery .input-group,
#Amenities .input-group {
    display: inline-block;
    width: calc(50% - 20px); 
    margin-right: 20px; 
    vertical-align: top; 
}

.mobile-view.fa-solid.fa-bars {
    display: none;
 }

@media (max-width: 992px) {
    .sidebar {
        width: 25%; 
        margin-right: 0; 
    }
    .forms {
        width: calc(75% - 20px); 
        margin-left: 20px; 
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%; 
        margin-top: 0; 
        margin-right: 0; 
        border-right: none; 
        border-bottom: 1px solid #dee2e6; 
    }
    .forms {
        width: 100%;
        margin-left: 0; 
    }
}

@media screen and (max-width: 550px) {
    .mobile-view.fa-solid.fa-bars {
        display: block;
    }
}

.form {
    position: relative; 
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.form h1,
.form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 18px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.input-group input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 5px;
}

.description-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #936c4ac7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;

    

}

#post-btn {
    padding: 10px 20px;
    background-color: #936c4ac7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #936c4ac7;
}

#post-message {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
#imageContainer {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px; 
    overflow-y: auto; 
}

#imageContainer img {
    max-width: 100%; 
    max-height: 150px; 
    margin: 5px;
    border: 1px solid #ccc; 
}

@media (max-width: 767px) {
    #imageContainer img {
        flex: 0 1 calc(33.33% - 10px); 
    }
}


@media (max-width: 574px) {
    #imageContainer img {
        flex: 0 1 calc(50% - 10px); 
    }
}

:root{
    --main-color:#936c4ac7;
    --light-color:#666;
    --light-bg:#eae7e7;
    --white:#fff;
    --black:#303030;
    --border:.1rem solid var(--light-color);
    --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
 }
 
 *{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; ;
    text-decoration: none;
 }
 
 *::selection{
    background-color: var(--main-color);
    color: var(--white);
 }

 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
 }
 
 body{
    background-color: var(--light-bg);
 }
 
 section{
    max-width: 1200px;
    margin: 0 auto;
 }
 
 .heading{
    text-align: center;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
 }
 
 .btn,
 .inline-btn{
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
 }
 
 .btn:hover,
 .inline-btn:hover{
    background-color: var(--black);
 }
 
 .btn{
    display: block;
    width: 100%;
 }
 
 .inline-btn{
    display: inline-block;
 }

 .mobile-view {
    display: none;
    font-size: 20px;
    position: absolute;
    right: 15px;
    color: white;
    z-index: 1;
 }
 #top-menu {
    display: flex;
 }
 
 .menu-mobile-view {
    display: none;
 }
 
 @media screen and (max-width: 550px) {
    .mobile-view {
       display: block;
    }
    
    .menu-mobile-view {
       display: inline;
    }
 
    #top-menu {
       display: none;
    }
   
 }
 #menu-btn{
    font-size: 2.5rem;
    color: var(--black);
    display: none;
 }


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Styling for file input */
/* Styling for file input */
.file-input input[type="file"] {
    display: none; /* Hide the default file input */
}

.file-input label {
    background-color: #936c4ac7;
    color: #fff;
    padding: 15px 20px; /* Increase padding to make it bigger */
    border-radius: 8px; /* Increase border radius for rounded corners */
    cursor: pointer;
    font-size: 16px; /* Increase font size */
    height: 50px; /* Set height */
    width: 200px; /* Set width */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center; /* Center the text horizontally */
}

.file-input label:hover {
    background-color:#936c4ac7;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: #08f117; /* or choose a color that suits your design */
  }
  
  .back-button:hover {
    background-color: #0b470f; /* Optional: hover effect */
  }
  