.container-v {
	/* display: grid;
	grid-template-columns: 7fr 3fr; */
	/* margin-bottom: 10rem; */
	height: 740px;
	background-image: url(../images/video-call.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.controls{
	justify-content: center;
	padding-left: 650px;
	margin-bottom: 0px;
	height: 50px;
	/* padding-top: 150px; */
}
.video-buttons{
	font-size: 100px;
}

.myId {
	margin-right: 5rem;
	margin-top: 10rem;
	margin-bottom: 10rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	width: 1000px;
	grid-template-columns: 1fr 1fr;
	gap: 10rem;
	justify-content: center;
	align-content: center;
	/* margin-top: 10rem; */
	padding-top: 110px;
	margin-left: 25rem;
	margin-bottom: 7rem;
}

.caller {
	text-align: center;
	color: #fff;
}
/* .video{
	width : -200px;
} */

