.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background-color: #08f117; /* or choose a color that suits your design */
  }
  
  .back-button:hover {
    background-color: #0b470f; /* Optional: hover effect */
  }
  